// шрифты
$ff-sans: 'PT Sans', sans-serif;
$ff-bebas: 'Bebas Neue', sans-serif;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet': 1023,
    'laptop': 1350,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
//$c-black: #000;
$c-accent: #42567A;
$c-accent-light: #3877EE;
$c-border: #E2E5EC;
$c-border-dark: #D0D5E0;
$c-main-bg: #F4F5F9;

// переходы
$tr: .3s linear;
$tr-long: .5s linear;