// шрифты
$ff-sans: 'PT Sans', sans-serif;
$ff-bebas: 'Bebas Neue', sans-serif;

// media
$media-list: (
    'mobile': 767,
    'laptop': 1800,
);

// Цвета
$c-white: #fff;
$c-accent: #42567A;
$c-accent-light: #3877EE;
$c-border: #E2E5EC;
$c-border-dark: #D0D5E0;
$c-main-bg: #F4F5F9;
$c-text-from: #5D5FEF;
$c-text-to: #EF5DA8;

// переходы
$tr: .3s linear;