// шрифты
$ff-sans: 'PT Sans', sans-serif;
$ff-bebas: 'Bebas Neue', sans-serif;

// media
$media-list: (
    'mobile': 767,
    'laptop': 1800,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-accent: #00d4ff;
$c-accent-light: #75e7fd;
$c-border: #c1ddf3;
$c-border-dark: rgba(0, 212, 255, 0.4);
$c-main-bg: #0a0a2e;
$c-text-from: #4b0082;
$c-text-to: #b0e0e6;
$c-text: #e0e8ff;

// переходы
$tr: .3s linear;