-
    const defaultDatesSliderProps = {
        classes: '',
        slides: [
            {
                title: 'День длиннее года',
                text: 'День (восход до заката) длится 176 земных суток, что длиннее года (88 дней) из-за медленного вращения и быстрой орбиты.',
            },
            {
                title: 'Экстремальные температуры',
                text: 'Перепады от -173°C ночью до +427°C днем — самые резкие в Солнечной системе, поскольку нет атмосферы для распределения тепла. Солнечная сторона нагревается до плавления свинца, а ночная остывает почти до абсолютного нуля.',
            },
            {
                title: 'Кратерная поверхность',
                text: 'Поверхность усеяна кратерами как у Луны — метеориты бьют беспрепятственно из-за отсутствия защиты. Зонд Messenger обнаружил лед в полярных кратерах с вечной тенью.',
            }

        ]
    }

mixin dates-slider(props= defaultDatesSliderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultDatesSliderProps.classes,
            slides: props.slides ? props.slides : defaultDatesSliderProps.slides
        }

    .dates-slider(class=checkProps.classes data-js="datesSlider")&attributes(attributes)
        .dates-slider__control.dates-slider__control--prev(data-js="datesSliderPrev")
            svg
                use(xlink:href=`/sprite.svg#slider_arrow_left`)

        .dates-slider__control.dates-slider__control--next(data-js="datesSliderNext")
            svg
                use(xlink:href=`/sprite.svg#slider_arrow_right`)

        .dates-slider__slider(data-js="datesSliderSlider")
            .swiper-wrapper
                - let slidesCount = 0
                - let slidesList = checkProps.slides

                - while(slidesCount < slidesList.length)
                    - let slide = slidesList[slidesCount]

                    .swiper-slide.dates-slider__slide
                        .dates-slider__title!= slide.title
                        .dates-slider__text!= slide.text

                    - slidesCount++