@use "../../styles/helpers/variables" as *;
@use "../../styles/helpers/mixins" as *;

.hd-main {
    font-family: $ff-sans;
    background-color: $c-main-bg;
    background: radial-gradient(circle, #0a0a2e 0%, #000 70%);
    padding-left: calc((100% - 1440px) / 3);

    @include max(laptop) {
        padding: 0 10px;
    }

    @include max(mobile) {
        padding: 0;
    }

    &__content {
        position: relative;
        min-height: 100vh;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-width: 0px 1px 0px 1px;
        border-color: $c-border;
        border-style: solid;
        padding: 40px 80px;

        @include max(laptop) {
            padding: 40px;
        }

        @include max(mobile) {
            padding: 60px 20px 15px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $c-border;

            @include max(mobile) {
                content: none;
            }
        }
    }

    &__title {
        position: relative;
        align-self: flex-start;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: $c-accent;

        @include max(laptop) {
            font-size: 42px;
        }

        @include max(mobile) {
            font-size: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            left: -80px;
            top: 0;
            width: 5px;
            height: 100%;
            background: linear-gradient(180deg, $c-text-from -5%, $c-accent 85%), $c-accent;

            @include max(laptop) {
                left: -40px;
            }

            @include max(mobile) {
                content: none;
            }
        }

    }

    &__tabs {
        margin-top: -120px;

        @include max(laptop) {
            margin-top: -40px;
        }

        @include max(mobile) {
            margin-top: 56px;
        }
    }
}