@use '../../../styles/helpers/variables' as *;
@use '../../../styles/helpers/mixins' as *;

.tabs-block {
    width: 100%;

    &__tabs {
        position: relative;
        width: 530px;
        height: 530px;
        margin: 0 auto;

        &:before {
            content: '';
            position: absolute;
            background-color: $c-border;
            height: 1px;
            width: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__list {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 1px solid $c-border-dark;
    }

    &__tab {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6px;
        height: 6px;
        transition: all $tr-long;
        background-color: $c-accent;
        border-radius: 100%;
        border: 1px solid $c-accent;
        cursor: pointer;

        &:hover {
            width: 56px;
            height: 56px;
            background-color: $c-main-bg;
        }

        &.swiper-slide-thumb-active {
            width: 56px;
            height: 56px;
            background-color: $c-main-bg;
        }

        &.swiper-slide-thumb-active &__name {
            opacity: 1;
            visibility: visible;
        }
    }

    &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: $c-accent;
    }

    &__name {
        position: absolute;
        right: calc(100% + 20px);
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all $tr;
    }

    &__controls {
        position: relative;
        margin-top: -48px;
        z-index: 5;

    }

    &__arrows {
        display: flex;
        align-items: stretch;
        margin-top: 20px;
        gap: 20px;
    }

    &__control {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-accent;
        background-color: $c-main-bg;
        border-radius: 100%;
        cursor: pointer;
        transition: all $tr;
        border: 1px solid #9BA5BA;

        &.swiper-button-disabled {
            opacity: 0.5;
        }

        svg {
            width: 6.25px;
            height: 12.5px;
        }
    }

    &__slides {
        margin-top: 56px;
    }

    &__slide,
    &__slide.swiper-slide-prev {
        opacity: 0 !important;
        transition-duration: 1s !important;
    }

    &__slide.swiper-slide-active {
        opacity: 1 !important;
    }

}