@font-face {
    font-family: 'PT Sans';
    src: url('~@/assets/fonts/pt-sans/PTSans-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/pt-sans/PTSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('~@/assets/fonts/pt-sans/PTSans-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/pt-sans/PTSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('~@/assets/fonts/bebas-neue/BebasNeue-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/bebas-neue/BebasNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}